################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/API/StudentGroupsManager/DTO/CourseDTO.cs
/API/StudentGroupsManager/DTO/ParametrosDTO.cs
/API/StudentGroupsManager/DTO/StudentDTO.cs
/API/StudentGroupsManager/DTO/TeacherCoordinatorDTO.cs
