<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functiontemplatedurable20240102221358.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1fce35bc-7af9-4379-af64-82c8e887673a/resourcegroups/rg_alura_tech/providers/Microsoft.Web/sites/FunctionTemplateDurable20240102221358</ResourceId>
    <UserName>$FunctionTemplateDurable20240102221358</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functiontemplatedurable20240102221358.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>